
//CORES


$color-primary: #004f99;
$color-primary-light: #0077e6;
$color-primary-lighter: #d7f0f1;
$color-primary-dark: #001a33;

$color-secondary-light:  #9bd98c;
$color-secondary-lighter:  #cfe6c4;
$color-secondary-dark:  #40bf66;


$color-red:#e21b1b;
$color-red-light: #eca3a3;

$color-white:#f7f7f7;
$color-black: #000;

$color-grey-dark: #777;
$color-grey-dark-2:#999 ;
$color-grey-dark-3: #333;


